<div class="min-h-screen dark:bg-claro bg-secondary flex flex-col">
  <!-- Encabezado -->
  <header class="dark:bg-celeste bg-primary text-white p-4 flex flex-col sm:flex-row items-center justify-between gap-4">
    <h1 class="text-white text-2xl sm:text-xl dark:text-claro font-medium text-center sm:text-left">
      Bienvenido(a) <span *ngIf="nombre" class="font-light">{{ nombreProfesor }}</span>
    </h1>
    <div class="flex gap-4">
      <button (click)="cerrarSesion()" class="text-lg sm:text-xl dark:text-claro font-normal text-white">
        Cerrar sesión
      </button>
      <button
        (click)="modoOscuro()"
        class="dark:bg-transparent dark:text-azulClaro text-lg sm:text-xl px-2 rounded-md font-normal text-tertiary hover:bg-secondary transition-colors">
        {{ claro ? 'Modo Oscuro' : 'Modo Claro' }}
      </button>
    </div>
  </header>

  <!-- Contenedor principal -->
  <div class="mx-auto p-4 lg:p-6 rounded-lg mt-14 bg-secondary shadow-2xl max-w-7xl dark:bg-azulClaro">
    <h2 class="text-xl md:text-2xl font-semibold text-tertiary mb-4 dark:text-azul">Cursos</h2>

    <!-- Botones de los periodos -->
    <div class="flex justify-center items-center">
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-9 gap-6 bg-white p-6 rounded-lg shadow-md">
        <button
          *ngFor="let periodo of periodos"
          (click)="filtraCursos(periodo.anio, periodo.semestre)"
          class="bg-secondary hover:bg-blue-700 text-white w-full font-bold py-2 px-4 rounded transition-transform hover:scale-105 hover:bg-midSecondary">
          {{ periodo.anio }}-{{ periodo.semestre }}
        </button>
      </div>
    </div>

    <!-- Mensaje en caso de que no haya cursos -->
    <div *ngIf="!general || cursosFiltrados.length === 0" class="text-lg md:text-2xl text-center mt-10 text-tertiary dark:text-white">
      No hay cursos disponibles para este periodo.
    </div>

    <!-- Cursos disponibles -->
    <div *ngIf="general && cursosFiltrados.length > 0" class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div
        *ngFor="let curso of cursosFiltrados"
        class="rounded overflow-hidden shadow-lg bg-midSecondary text-white p-6 flex flex-col justify-between">
        <div>
          <h3 class="font-extrabold text-lg mb-1">{{ curso.nombre }}</h3>
          <p class="text-sm text-gray-300 mb-2">Sección: {{ curso.seccion }}</p>
          <p class="font-medium">Carrera: {{ curso.carrera }}</p>
        </div>
        <div class="flex gap-4 mt-4">
          <button
            (click)="abrirModal(curso); mapAlumnos(curso)"
            class="bg-primary hover:bg-secondary text-white font-bold py-2 px-4 rounded shadow-2xl">
            Ver alumnos
          </button>
          <button
            (click)="verEstadisticas(curso)"
            class="bg-primary hover:bg-secondary text-white font-bold py-2 px-4 rounded shadow-2xl">
            Estadísticas
          </button>
        </div>
      </div>
    </div>

    <!-- Modal de alumnos -->
    <div *ngIf="mostrarModal" class="fixed inset-0 bg-primary bg-opacity-50 flex justify-center items-center z-50 p-4">
      <div class="bg-secondary rounded-lg shadow-2xl p-6 w-full sm:w-3/4 md:w-1/2 lg:w-1/3 text-white">
        <h2 class="text-xl font-bold mb-6 border-b border-tertiary pb-2">
          Alumnos de {{ cursoSeleccionado?.nombre }}
        </h2>
        <div class="overflow-y-auto max-h-60vh">
          <ul class="list-disc pl-6 text-white space-y-4">
            <li
              *ngFor="let alumno of alumnosSeleccionados"
              class="flex justify-between border-b border-b-tertiary gap-4 p-2">
              {{ alumno.nombre }} {{ alumno.apellidoPaterno }} {{ alumno.apellidoMaterno }}
              <button
                (click)="navegaEstudiante(alumno.nombre, alumno.apellidoPaterno, alumno.apellidoMaterno,
                                          alumno.rut, alumno.matricula, alumno.fechaIngreso,
                                          alumno.urlfoto, alumno.contadorPositivo, alumno.contadorNegativo)"
                class="bg-midSecondary text-white px-4 rounded hover:bg-primary transition">
                Ver historial
              </button>
            </li>
          </ul>
        </div>
        <button
          (click)="cerrarModal()"
          class="bg-primary text-white hover:bg-tertiary font-semibold py-2 px-6 rounded shadow-md transition mt-4">
          Cerrar
        </button>
      </div>
    </div>

    <!-- Modal de estadísticas -->
    <div *ngIf="mostrarModalEstadisticas" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 p-4">
      <div class="bg-white rounded-lg shadow-lg w-full sm:w-3/4 md:w-2/3 lg:w-1/2 p-6">
        <div class="flex justify-between items-center border-b pb-4 mb-6">
          <h2 class="text-lg font-bold">Estadísticas del Curso: {{ cursoSeleccionado?.nombre }}</h2>
          <button
            (click)="cerrarModalEstadisticas()"
            class="text-gray-500 hover:text-gray-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex justify-center mb-6">
          <canvas id="graficoEstadisticas" class="rounded-lg border"></canvas>
        </div>
        <ul class="space-y-2">
          <li *ngFor="let reporte of topReportes" class="flex justify-between p-3 bg-gray-100 rounded-lg">
            <span>{{ reporte.observacion }}</span>
            <span class="font-semibold">{{ reporte.cantidad }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
