<div class="flex flex-col items-center justify-center min-h-screen dark:bg-claro">
  <div class="flex flex-col items-center justify-center w-full px-4 md:px-8 min-h-screen">

    <div class="mt-4 flex justify-between items-center w-full px-4 md:px-8">
      <button class="-ml-12 dark:bg-celeste px-4 py-2 text-lg font-semibold text-white bg-primary rounded-full" (click)="toggleSidebar()">☰</button>
      <div class="flex-grow"></div>

      <div class="flex space-x-4 ">
        <button
          class=" dark:bg-azulClaro dark:text-claro px-4 py-2 text-lg font-semibold text-white bg-midSecondary rounded shadow-lg hover:bg-secondary hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white"
          (click)="navegarAdmin()">
          Volver
        </button>
        <button
          (click)="modoOscuro()"
          class="dark:bg-celeste dark:bg-opacity-40 dark:text-claro px-4 py-2 text-lg rounded font-semibold bg-primary text-white hover:bg-secondary transition-colors">
          {{ claro ? 'Modo Oscuro' : 'Modo Claro' }}
        </button>
      </div>
    </div>


    <!-- Sidebar -->
    <div *ngIf="slideBarvisible" class="fixed inset-0 flex z-50">
      <div class="dark:bg-celeste bg-primary bg-opacity-95 h-full" (click)="toggleSidebar()"></div>
      <div class="dark:bg-celeste bg-primary w-64 h-full p-4 shadow-lg transform transition-all duration-300 ease-in-out" [ngClass]="{'translate-x-0': slideBarvisible, '-translate-x-full': !slideBarvisible}">
        <button class="absolute top-4 right-4 text-2xl font-medium text-primary dark:text-azul" (click)="CerrartoggleSidebar()">X</button>
        <h2 class="text-2xl font-semibold text-white mb-4 dark:text-azul">Opciones</h2>
        <button class="dark:bg-azulClaro dark:text-azul w-full px-4 py-2 text-lg font-semibold text-primary bg-white rounded-full shadow-lg hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white mb-4" (click)="abrirModal()">Subir Excel</button>
        <button class="dark:bg-azulClaro dark:text-azul w-full px-4 py-2 text-lg font-semibold text-primary bg-white rounded-full shadow-lg hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white mb-4" (click)="abrir()">Agregar curso</button>
        <button class="dark:bg-azulClaro dark:text-azul w-full px-4 py-2 text-lg font-semibold text-white bg-secondary rounded-full shadow-lg hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white mb-4" (click)="CerrartoggleSidebar()">Cerrar SlideBar</button>
      </div>
    </div>

    <!-- Cursos -->
    <div class="dark:bg-azulClaro w-full max-w-5xl mx-auto p-6 rounded-lg mt-8 bg-secondary shadow-2xl">
      <h2 class="text-2xl font-semibold text-tertiary mb-4 dark:text-azul">Cursos</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let curso of mostrarCursos" class="dark:text-azul dark:bg-claro w-full rounded overflow-hidden shadow-lg bg-midSecondary text-tertiary">
          <div class="flex justify-between items-center p-4 dark:text-azul">
            <span>{{ curso.ano }} - {{ curso.semestre }} / Sección: {{ curso.seccion }}</span>
            <button class="dark:text-claro dark:bg-celeste dark:bg-opacity-60 bg-secondary text-tertiary px-4 py-2 rounded focus:bg-white" (click)="abrirEditarCurso(curso)">Editar</button>
            <button (click)="confirmarEliminacion(curso)">
              <img width="25" height="25" src="https://img.icons8.com/sf-regular/48/003064/trash.png" alt="trash" />
            </button>
          </div>

          <div class="px-6 py-4">
            <div class="font-extrabold text-xl mb-2">
              {{ curso.nombre }}
              <div class="dark:text-primary font-medium text-tertiary"> Profesor(a): {{ curso.nombreProfesor }}</div>
            </div>
            <div class="dark:text-secondary text-secondary text-base mt-4">
              <div class="font-bold text-tertiary mb-2">Estudiantes:</div>
              <ul class="list-disc text-tertiary list-inside">
                <li *ngFor="let estudiante of curso.alumnos">{{ estudiante }}</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
