<div class="min-h-screen bg-primary font-sans">
  <header class="bg-secondary text-white p-4 w-full text-left">
    <h2 class="text-2xl font-semibold">Gestión de Docentes</h2>
  </header>

  <h2 class="text-3xl text-white m-10 ml-64">Docentes</h2>

  <!-- Botón para cargar docentes -->
  <div class="flex justify-center mt-12">
    <button class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-11 w-48" (click)="abrirModal()">
      Cargar Docentes
    </button>
  </div>

  <!-- Lista de docentes con checkboxes -->
  <ul role="list" class="mx-96 rounded bg-primary shadow-2xl p-10">
    <li *ngFor="let docente of docentes" class="flex justify-between border-b border-b-tertiary gap-x-6 p-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="size-10 flex-none bg-gray-50" src="https://res.cloudinary.com/ddwshn5tb/image/upload/v1731725951/perfil_v6tmdm.png" alt="Perfil Docente">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold text-white">{{ docente.nombre }}</p>
        </div>
      </div>

      <ul class="mt-2 bg-primary text-white rounded p-4 w-60 font-sans shadow-2xl">
        <li *ngFor="let curso of docente.cursos" class="py-1 border-gray-700 last:border-none">
          {{ curso }}
        </li>
      </ul>

      <!-- Checkbox para seleccionar el docente (solo visible en modo de eliminación) -->
      <input type="checkbox" [checked]="isChecked(docente.id)" (change)="onCheckboxChange(docente.id, $event)" *ngIf="modoEliminacion">

      <!-- Botón para editar docente -->
      <button
        (click)="abrirModalEditar(docente)"
        class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-11 w-48"
        [disabled]="modoEliminacion">
        Editar Docente
      </button>
    </li>
  </ul>
  <!-- Botón para activar el modo de eliminación -->
  <div class="flex justify-center mt-12">
    <button
      class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-green-600 h-15 w-48"
      (click)="mostrarFormularioRegistro()" style="margin-right: 25px"
      [disabled]="modoEliminacion">
    Registrar Nuevo Docente
    </button>

    <button
      class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-11 w-48"
      (click)="activarModoEliminacion()" style="margin-right: 25px"
      *ngIf="!modoEliminacion">
      Eliminar Docente
    </button>

    <button class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-15 w-48"
            (click)="eliminarDocentes()" style="margin-right: 25px"
            *ngIf="modoEliminacion">
      Eliminar Docentes Seleccionados
    </button>

    <button class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-11 w-48"
            (click)="volverModoNormal()" style="margin-right: 25px"
            *ngIf="modoEliminacion">
      Volver
    </button>

  </div>

  <!-- Modal para elegir la forma de cargar docentes -->
  <div *ngIf="visible" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
      <h2 class="text-xl font-bold mb-4">Subir Archivo</h2>
      <p class="mb-4">Seleccione un archivo Excel para cargar docentes.</p>

      <!-- Campo para seleccionar el archivo -->
      <input type="file" accept=".xlsx, .xls" id="fileInput"
             class="block w-full text-sm text-gray-700 border border-gray-300 rounded-md p-2 mb-4"
             (change)="onFileSelected($event)" />

      <!-- Botones de acción -->
      <div class="flex justify-end space-x-4">
        <button (click)="cerrarModal()" class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light">Cancelar</button>
        <button (click)="subirArchivo()" class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light">Subir</button>
      </div>
    </div>
  </div>

  <!-- Modal para registrar nuevo docente -->
  <div *ngIf="nuevoDocenteVisible" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-md w-1/4">
      <h3 class="text-lg font-semibold mb-4">Registrar Nuevo Docente</h3>
      <label class="block mb-2">Nombre:</label>
      <input type="text" [(ngModel)]="nuevoDocenteNombre" name="nuevoDocenteNombre" class="w-full border rounded px-3 py-2 mb-4" />

      <label class="block mb-2">Cursos (separados por comas):</label>
      <input type="text" [(ngModel)]="nuevoDocenteCursos" name="nuevoDocenteCursos" class="w-full border rounded px-3 py-2 mb-4" />

      <div class="flex justify-end space-x-4">
        <button class="bg-secondary text-white px-4 py-2 rounded hover:bg-gray-400" (click)="ocultarFormularioRegistro()">
          Cancelar
        </button>
        <button class="bg-secondary text-white px-4 py-2 rounded hover:bg-green-600" (click)="registrarDocente()">
          Registrar
        </button>
      </div>
    </div>
  </div>

  <!-- Modal para editar docente existente -->
  <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
      <h2 class="text-xl font-bold mb-4">Editar Docente</h2>

      <label for="idEditar" class="block text-sm font-medium text-gray-700">ID del docente</label>
      <input type="text" id="idEditar" [(ngModel)]="idEditar" name="idEditar" class="block w-full text-sm text-gray-700 border border-gray-300 rounded-md p-2">

      <label for="nombreEditar" class="block text-sm font-medium text-gray-700">Nuevo nombre del docente</label>
      <input type="text" [(ngModel)]="nombreEditar" id="nombreEditar" name="nombreEditar" class="block w-full text-sm text-gray-700 border border-gray-300 rounded-md p-2">


      <label for="cursosEditar" class="block text-sm font-medium text-gray-700">Nuevos cursos (separados por comas)</label>
      <input type="text" id="cursosEditar" [(ngModel)]="nuevoDocenteCursos" name="cursosEditar" class="block w-full text-sm text-gray-700 border border-gray-300 rounded-md p-2 mb-4">


      <div class="flex justify-end space-x-4">
        <button (click)="cerrarModalEditar()" class="bg-primary text-white px-4 py-2 rounded-2xl hover:bg-gray-400">Cancelar</button>
        <button (click)="guardarEdicion()" class="bg-primary text-white px-4 py-2 rounded-2xl hover:bg-primary-light">Guardar</button>
      </div>
    </div>
  </div>

</div>
