<body class="min-h-screen bg-primary font-sans flex flex-col">
<header class="bg-secondary text-white p-4 w-full text-left">
  <h2 class="text-2xl font-semibold text-white font-sans">Bienvenido Administrador</h2>
</header>

<h2 class="text-3xl text-white m-10 ml-64">Estudiantes</h2>

<!-- Lista de estudiantes -->
<ul role="list" class="mx-96 rounded bg-primary shadow-2xl p-10 flex-grow">
  <li *ngFor="let estudiante of estudiantes" class="flex justify-between border-b border-b-tertiary gap-x-6 p-5">
    <div class="flex min-w-0 gap-x-4">
      <img class="size-10 flex-none bg-gray-50" src="https://res.cloudinary.com/ddwshn5tb/image/upload/v1731725951/perfil_v6tmdm.png" alt="">
      <div class="min-w-0 flex-auto">
        <p class="text-sm/13 font-semibold text-white font-sans">{{ estudiante.nombre }}</p>
        <p class="mt-1 truncate text-xs/5 text-white font-sans">{{ estudiante.matricula }}</p>
      </div>
    </div>

    <button class="mt-2 bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-10" (click)="estudiante.mostrarAsignaturas = !estudiante.mostrarAsignaturas">
      Cursos
    </button>
  </li>
</ul>

<!-- Botones -->
<div class="flex justify-center mt-12 gap-4 mb-8">
  <button class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-11 w-48" (click)="modalEleccion()">
    Añadir estudiante
  </button>
  <button class="bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-11 w-48" (click)="abrirEliminarEstudianteModal()">
    Eliminar estudiante
  </button>
</div>

<!-- Modal para elegir el método para agregar estudiante/s -->
<div *ngIf="verEleccion" id="eleccion" class="fixed inset-0 flex items-center justify-center bg-primary bg-opacity-50">
  <div class="bg-midSecondary h-40 w-auto shadow-2xl rounded p-10 flex flex-col items-center space-y-4 relative">
    <button class="absolute top-2 right-2 text-white bg-red-500 rounded-full h-8 w-8 flex items-center justify-center" (click)="cerrarModalEleccion()">×</button>

    <button class="bg-secondary text-white px-4 py-2 rounded hover:bg-secondary h-11 w-48 hover:scale-105" (click)="modalEleccion()">Añadir manual</button>
    <button class="bg-secondary text-white px-4 py-2 rounded hover:bg-secondary h-11 w-48 hover:scale-105" (click)="modalEleccion()">Subir excel</button>
  </div>
</div>

<!-- Modal para subir archivo Excel -->
<div *ngIf="verExcel" id="uploadModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Subir Archivo</h2>
    <p class="mb-4">Seleccione un archivo Excel para cargar.</p>
    <input type="file" accept=".xlsx, .xls" id="fileInput" class="block w-full text-sm text-gray-700 border border-gray-300 rounded-md p-2 mb-4" />
    <div class="flex justify-end space-x-4">
      <button (click)="modalExcel()" class="px-4 py-2 bg-gray-300 rounded-md hover:bg-gray-400">Cancelar</button>
    </div>
  </div>
</div>


<!-- Modal para eliminar estudiante -->
<div *ngIf="verEliminarEstudianteModal" id="eliminarModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-20">
  <div class="bg-midSecondary shadow-lg p-6 max-w-md w-full rounded-lg">
    <h2 class="text-xl font-bold mb-4 text-white">Eliminar Estudiante</h2>
    <p class="mb-4 text-white" >Seleccione un estudiante para eliminar:</p>

    <!-- Lista de estudiantes con scroll y formato de tabla -->
    <div class="max-h-60 overflow-y-auto">
      <table class="min-w-full table-auto border-collapse">
        <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-left font-medium text-sm text-gray-600">Seleccionar</th>
          <th class="px-4 py-2 text-left font-medium text-sm text-gray-600">Nombre</th>
          <th class="px-4 py-2 text-left font-medium text-sm text-gray-600">Matrícula</th>
          <th class="px-4 py-2 text-left font-medium text-sm text-gray-600">Año Ingreso</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let estudiante of estudiantes" class="border-b hover:bg-gray-50">
          <td class="px-4 py-2">
            <input
              type="checkbox"
              [checked]="estudiantesSeleccionados.includes(estudiante)"
              (change)="seleccionarEstudiante(estudiante)"
              class="mr-2"
            />
          </td>
          <td class="px-4 py-2 text-sm text-white">{{ estudiante.nombre }}</td>
          <td class="px-4 py-2 text-sm text-white">{{ estudiante.matricula }}</td>
          <td class="px-4 py-2 text-sm text-white">{{ estudiante.anoIngreso }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Botón para eliminar los estudiantes seleccionados -->
    <button
      class="bg-primary text-white px-4 py-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 mt-4 w-full"
      [disabled]="estudiantesSeleccionados.length === 0"
      (click)="eliminarEstudiante()">
      Eliminar Estudiantes
    </button>

    <!-- Botón para cerrar el modal -->
    <button
      (click)="cerrarEliminarEstudianteModal()"
      class="bg-secondary text-tertiary px-4 py-2 rounded-lg hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 mt-2 w-full">
      Cerrar
    </button>
  </div>
</div>

</body>
