<body class="min-h-screen  dark:bg-claro bg-primary font-sans">
<header class="dark:bg-celeste bg-secondary text-white p-4 w-full text-left">
  <h2 class="dark:text-claro text-2xl font-semibold text-white font-sans">Administración de estudiantes</h2>

</header>

<div class="flex justify-between items-center ">
  <button
    class="ml-2 dark:bg-celeste px-4 py-2 text-lg font-semibold text-claro bg-primary rounded-full"
    (click)="toggleSidebar()">
    ☰
  </button>
  <h2 class="dark:text-azul text-3xl text-white m-10 ml-64 mr-36">Estudiantes</h2>

  <button
    class="ml-72  dark:bg-azulClaro dark:text-claro mt-1  px-4 py-2 text-lg font-semibold text-white bg-midSecondary rounded shadow-lg hover:bg-secondary hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white"
    (click)="navegarAdmin()">
    Volver
  </button>
  <button (click)="modoOscuro()" class=" dark:bg-transparent dark:bg-opacity-40 dark:text-celeste px-4 py-2 mr-5 mt-1  text-lg rounded font-semibold bg-primary text-white hover:bg-secondary transition-colors">
    {{ claro ? 'Modo Oscuro' : 'Modo Claro' }}
  </button>
</div>
<div
  *ngIf="slideBarvisible"
  class="fixed px-2 py-2 top-0 left-0 h-full w-[18.5%] z-50 bg-secondary dark:bg-celeste transform transition-transform duration-300 ease-in-out"
  [ngClass]="{'translate-x-0': slideBarvisible, '-translate-x-full': !slideBarvisible}">
  <button
    class="absolute top-4 right-4 text-2xl font-medium text-white dark:text-claro"
    (click)="CerrartoggleSidebar()">X</button>
  <h2 class="dark:text-claro text-2xl font-semibold text-white mb-4">Opciones</h2>
  <button
    class="dark:text-azul dark:bg-azulClaro w-full px-4 py-2 text-lg font-semibold text-primary bg-white rounded-full shadow-lg hover:scale-105 mb-4"
    (click)="modalEleccion()">Añadir estudiante</button>
  <button
    class="dark:bg-azulClaro dark:text-azul w-full px-4 py-2 text-lg font-semibold text-primary bg-white rounded-full shadow-lg hover:scale-105 mb-4"
    (click)="abrirEliminarEstudianteModal()">Eliminar estudiantes</button>

  <button
    class="dark:bg-azulClaro dark:text-azul w-full px-4 py-2 text-lg font-semibold text-primary bg-white rounded-full shadow-lg hover:scale-105 mb-4"
    style="margin-right: 25px"
    (click)="descargarExcelEstudiantes()">
    Descargar Estudiantes
  </button>
</div>
<div class="flex justify-center items-center">
  <ul role="list" class="dark:bg-opacity-50 dark:bg-azulClaro max-w-2xl rounded bg-primary shadow-2xl p-10">
    <li *ngFor="let estudiante of estudiantes" class="flex justify-between border-b border-b-tertiary gap-x-6 p-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="dark:shadow-2xl size-10 flex-none bg-gray-50" [src]=estudiante.urlFoto alt="">
        <div class="min-w-0 flex-auto">
          <p class="dark:text-azul text-sm/13 font-semibold text-white font-sans w-60">{{estudiante.nombre}} {{estudiante.apellidoPaterno}} {{estudiante.apellidoMaterno}}</p>
          <p class="dark:text-azul mt-1 truncate text-xs/5 text-white font-sans"> Mátricula: {{estudiante.matricula}}</p>
        </div>
      </div>

      <!-- Mostrar Año de Ingreso -->
      <div class="dark:text-azul mt-2 text-white text-sm font-sans">
        <p> Ingreso: {{estudiante.fechaIngreso}}</p>
        <p> Rut: {{estudiante.rut}}</p>
      </div>

      <!-- Botón para editar estudiante  -->
      <button class="dark:bg-transparent dark:border-b-2 dark:border-opacity-60 dark:border-celeste dark:text-azul mt-2 bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light h-10" (click)="abrirEditarEstudianteModal(estudiante)">
        Editar
      </button>

    </li>
  </ul>
</div>


<!-- Modal para agregar estudiantes a través de un excel -->
<div *ngIf="verExcel" id="uploadModal" class="fixed inset-0 flex items-center justify-center bg-primary bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Subir Archivo</h2>
    <p class="mb-4">Seleccione un archivo Excel para cargar.</p>

    <!-- Campo para seleccionar el archivo -->
    <input type="file" accept=".xlsx, .xls" id="fileInput"
           class="block w-full text-sm text-gray-700 border border-gray-300 rounded-md p-2 mb-4"
           (change)="onFileSelected($event)" />

    <!-- Botones de acción -->
    <div class="flex justify-end space-x-4">
      <button (click)="cerrarModal()" class="px-4 py-2 bg-gray-300 rounded-md hover:bg-gray-400">Cancelar</button>
      <button (click)="subirArchivo()" class="px-4 py-2 dark:bg-blue-500 bg-primary text-white rounded-md hover:bg-blue-600">Subir</button>
    </div>
  </div>
</div>

<!-- Modal para elegir el método para agregar estudiante -->
<div *ngIf="verEleccion" id="eleccion" class="dark:bg-azul dark:bg-opacity-60 fixed inset-0 flex items-center justify-center bg-primary bg-opacity-60">
  <div class="dark:bg-claro bg-tertiary h-58 w-auto shadow-2xl rounded p-10 flex flex-col items-center space-y-4">
    <button class="ml-64 -mt-2" (click)="cerrarModalEleccion()">X</button>
    <button class="dark:bg-celeste dark:text-claro bg-secondary text-white px-4 py-2 rounded hover:bg-secondary h-11 w-48 hover:scale-105" (click)="modalEleccion(); modalManual()">
      Añadir manual
    </button>
    <button class="dark:bg-celeste dark:text-claro bg-secondary text-white px-4 py-2 rounded hover:bg-secondary h-11 w-48 hover:scale-105" (click)="abrirExcelModal()">
      Subir excel
    </button>
  </div>
</div>



<!-- Modal para agregar un estudiante manualmente -->
<div *ngIf="verManual" id="manual" class="dark:bg-azul dark:bg-opacity-60 fixed inset-0 flex items-center justify-center bg-secondary bg-opacity-50 shadow-2xl">
  <div class="max-h-screen w-1/4 overflow-y-auto bg-primary dark:bg-azulClaro rounded-lg p-6 shadow-lg">
    <form (ngSubmit)="onSubmit()" class="space-y-6 text-white">
      <button class="dark:text-azul text-white -mt-30 ml-60" (click)="cerrarModalManual()">X</button>

      <!-- Campo: Nombre -->
      <div>
        <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
        <input
          id="nombre"
          name="nombre"
          [(ngModel)]="estudiante.nombre"
          type="text"
          required
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
          placeholder="Ingresa el nombre"
        />
      </div>

      <!-- Campo: Apellido Paterno -->
      <div>
        <label for="apellidoPaterno" class="block text-sm font-medium text-gray-700">Apellido Paterno</label>
        <input
          id="apellidoPaterno"
          name="apellidoPaterno"
          [(ngModel)]="estudiante.apellidoPaterno"
          type="text"
          required
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
          placeholder="Ingresa el apellido paterno"
        />
      </div>

      <!-- Campo: Apellido Materno -->
      <div>
        <label for="apellidoMaterno" class="block text-sm font-medium text-gray-700">Apellido Materno</label>
        <input
          id="apellidoMaterno"
          name="apellidoMaterno"
          [(ngModel)]="estudiante.apellidoMaterno"
          type="text"
          required
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
          placeholder="Ingresa el apellido materno"
        />
      </div>

      <!-- Campo: RUT -->
      <div>
        <label for="rutagregar" class="block text-sm font-medium text-gray-700">RUT</label>
        <input
          id="rutagregar"
          name="rut"
          [(ngModel)]="estudiante.rut"
          type="text"
          required
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
          placeholder="Ingresa el RUT"
        />
      </div>

      <!-- Campo: Matrícula -->
      <div>
        <label for="matricula" class="block text-sm font-medium text-gray-700">Matrícula</label>
        <input
          id="matricula"
          name="matricula"
          [(ngModel)]="estudiante.matricula"
          type="text"
          required
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
          placeholder="Ingresa la matrícula"
        />
      </div>

      <!-- Campo: Fecha de Nacimiento -->
      <div>
        <label for="fechaNacimiento" class="block text-sm font-medium text-gray-700">Fecha de Nacimiento</label>
        <input
          id="fechaNacimiento"
          name="fechaNacimiento"
          [(ngModel)]="estudiante.fechaNacimiento"
          type="date"
          required
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
        />
      </div>

      <!-- Campo: Fecha de Ingreso -->
      <div>
        <label for="fechaIngreso" class="block text-sm font-medium text-gray-700">Fecha de Ingreso</label>
        <input
          id="fechaIngreso"
          name="fechaIngreso"
          [(ngModel)]="estudiante.fechaIngreso"
          type="date"
          required
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
        />
      </div>

      <!-- Campo: URL Foto -->
      <div>
        <label for="urlfotoagregar" class="block text-sm font-medium text-gray-700">URL Foto</label>
        <input
          id="urlfotoagregar"
          name="urlfoto"
          [(ngModel)]="estudiante.urlfoto"
          type="text"
          class="text-primary dark:bg-claro mt-1 block w-full px-3 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-accent focus:border-accent bg-secondary"
          placeholder="Ingresa la URL de la foto"
        />
      </div>

      <!-- Botón: Enviar -->
      <div class="text-center">
        <button type="submit" class="dark:bg-celeste bg-midSecondary font-medium text-white px-6 py-2 rounded-lg hover:bg-accent-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent">
          Agregar Estudiante
        </button>
      </div>
    </form>
  </div>
</div>








<!-- Modal para eliminar un estudiante -->
<div *ngIf="verEliminarEstudianteModal" id="eliminarModal" class="dark:bg-azul dark:bg-opacity-60 fixed inset-0 flex items-center justify-center bg-black bg-opacity-20">
  <div class="dark:bg-claro bg-midSecondary shadow-lg p-6 max-w-md w-full rounded-lg">
    <h2 class="dark:text-azul text-xl font-bold mb-4 text-claro">Eliminar Estudiante</h2>
    <p class="dark:text-azul mb-4 text-claro" >Seleccione un estudiante para eliminar:</p>

    <div class="max-h-60 overflow-y-auto">
      <table class="min-w-full table-auto border-collapse">
        <thead>
        <tr class="bg-transparent">
          <th class="dark:text-azul px-4 py-2 text-left font-medium text-sm text-claro">Seleccionar</th>
          <th class="dark:text-azul px-4 py-2 text-left font-medium text-sm text-claro">Nombre</th>
          <th class="dark:text-azul px-4 py-2 text-left font-medium text-sm text-claro">Matrícula</th>
          <th class="dark:text-azul px-4 py-2 text-left font-medium text-sm text-claro">Año Ingreso</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let estudiante of estudiantes" class="border-b hover:bg-secondary dark:hover:bg-azulClaro">
          <td class="px-4 py-2">
            <input
              type="checkbox"
              [checked]="estudiantesSeleccionados.includes(estudiante)"
              (change)="seleccionarEstudiante(estudiante)"
              class="mr-2"
            />
          </td>
          <td class="dark:text-azul px-4 py-2 text-sm text-claro">{{ estudiante.nombre }}</td>
          <td class="dark:text-azul px-4 py-2 text-sm text-claro">{{ estudiante.matricula }}</td>
          <td class="dark:text-azul px-4 py-2 text-sm text-claro">{{ estudiante.anoIngreso }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <button
      class="dark:bg-celeste dark:text-claro dark:hover:bg-red-600 bg-primary text-white px-4 py-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 mt-4 w-full"
      [disabled]="estudiantesSeleccionados.length === 0"
      (click)="confirmarEliminacion(estudiantesSeleccionados)">
      Eliminar Estudiantes
    </button>

    <button
      (click)="cerrarEliminarEstudianteModal()"
      class="dark:bg-transparent dark:text-azul dark:hover:bg-gray-400 bg-transparent text-claro px-4 py-2 rounded-lg hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 mt-2 w-full">
      Cerrar
    </button>
  </div>
</div>

<div *ngIf="mostrarConfirmacionEliminar" class="fixed inset-0 flex items-center justify-center bg-primary bg-opacity-20 dark:bg-azul dark:bg-opacity-60">
  <div class="dark:bg-claro bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
    <h2 class="text-xl font-semibold mb-4 dark:text-azul">Confirmar Eliminación</h2>
    <p class="mb-4 dark:text-azul">¿Estás seguro de que deseas eliminar??</p>
    <div class="flex justify-end space-x-4">
      <button (click)="cancelarEliminacion()" class="dark:bg-transparent dark:text-primary bg-tertiary text-secondary px-4 py-2 rounded">Cancelar</button>
      <button (click)="eliminarEstudiante()" class="dark:bg-celeste bg-secondary text-white px-4 py-2 rounded">Eliminar</button>
    </div>
  </div>
</div>




<!-- Modal de edición -->
<div *ngIf="verEditarEstudianteModal" id="editarModal" class="dark:bg-azul dark:bg-opacity-60 fixed inset-0 flex items-center justify-center bg-primary bg-opacity-50">
  <div class="dark:bg-white bg-midSecondary h-auto w-auto shadow-2xl rounded p-10 flex flex-col items-center space-y-4 relative">
    <button class="absolute top-2 right-2 text-primary rounded-full h-8 w-8 flex items-center justify-center" (click)="cerrarEditarEstudianteModal()">X</button>
    <h2 class="dark:text-azul text-xl font-bold text-white">Editar Estudiante</h2>
    <!-- Formulario de edición -->
    <form (ngSubmit)="editarEstudiante()">
      <!-- Campo: Nombre -->
      <div class="mb-4">
        <label for="nombreEditar" class="dark:text-azul block text-white">Nombre:</label>
        <input id="nombreEditar" [(ngModel)]="estudianteEditado.nombre" name="nombreEditar" class="mt-1 p-2 w-64 rounded" required />
      </div>
      <!-- Campo: Apellido Paterno -->
      <div class="mb-4">
        <label for="apellidoPaternoEditar" class="dark:text-azul block text-white">Apellido Paterno:</label>
        <input id="apellidoPaternoEditar" [(ngModel)]="estudianteEditado.apellidoPaterno" name="apellidoPaternoEditar" class="mt-1 p-2 w-64 rounded" required />
      </div>
      <!-- Campo: Apellido Materno -->
      <div class="mb-4">
        <label for="apellidoMaternoEditar" class="dark:text-azul block text-white">Apellido Materno:</label>
        <input id="apellidoMaternoEditar" [(ngModel)]="estudianteEditado.apellidoMaterno" name="apellidoMaternoEditar" class="mt-1 p-2 w-64 rounded" required />
      </div>
      <!-- Campo: Matrícula -->
      <div class="mb-4">
        <label for="matriculaEditar" class="dark:text-azul block text-white">Matrícula:</label>
        <input id="matriculaEditar" [(ngModel)]="estudianteEditado.matricula" name="matriculaEditar" class="mt-1 p-2 w-64 rounded" required />
      </div>
      <!-- Campo: RUT -->
      <div class="mb-4">
        <label for="rut" class="dark:text-azul block text-white">RUT:</label>
        <input id="rut" [(ngModel)]="estudianteEditado.rut" name="rut" class="mt-1 p-2 w-64 rounded" required />
      </div>
      <!-- Campo: URL Foto -->
      <div class="mb-4">
        <label for="urlfoto" class="dark:text-azul block text-white">URL Foto:</label>
        <input id="urlfoto" [(ngModel)]="estudianteEditado.urlfoto" name="urlfoto" class="mt-1 p-2 w-64 rounded" />
      </div>
      <!-- Botón Guardar -->
      <div class="flex justify-center w-full">
        <button type="submit" class="items-center dark:text-claro font-medium dark:bg-celeste bg-secondary text-white px-4 py-2 rounded-2xl hover:bg-secondary-light w-48">
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</div>





