<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Botones Estilizados con Tailwind</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800 dark:bg-claro">
<header class="bg-gray-700 text-white p-4 w-full text-left dark:bg-celeste">
  <h2 class="text-2xl font-semibold">Bienvenido Administrador</h2>
</header>
<div class="flex items-center justify-center min-h-screen">
  <div class="space-x-52">
    <button (click)="navegarCursoAdmin()" class="dark:bg-celeste dark:text-claro dark:hover:bg-azulClaro dark:hover:text-claro px-20 py-4 text-lg font-semibold text-white transition transform bg-gray-400 rounded-full shadow-lg hover:bg-gray-600 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white">
      Cursos
    </button>
    <button (click)="navegarDocenteAdmin()" class="dark:bg-celeste dark:text-claro dark:hover:bg-azulClaro dark:hover:text-claro px-20 py-4 text-lg font-semibold text-white transition transform bg-gray-400 rounded-full shadow-lg hover:bg-gray-600 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white">
      Docentes
    </button>
    <button (click)="navegarEstudianteAdmin()" class="dark:bg-celeste dark:text-claro dark:hover:bg-azulClaro dark:hover:text-claro px-20 py-4 text-lg font-semibold text-white transition transform bg-gray-400 rounded-full shadow-lg hover:bg-gray-600 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-white">
      Estudiantes
    </button>
  </div>
</div>
</body>
</html>
